<!doctype html>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>

<h1>{{title}}</h1>
{% for field, errors in form.errors.items() %}
  {{ ', '.join(errors) }}
{% endfor %}

<form action="" method="post" novalidate enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  <p>
    {{ form.title.label }}<br />
    {{ form.title(size=128) }}
  </p>
  <p>
    {{ form.description.label }}<br />
    {{ form.description(size=256) }}
  </p>
  <p>
    {{ form.buyable.label }}<br />
    {{ form.buyable}}
  </p>
  <p>
    {{ form.price.label }}<br />
    {{ form.price}}
  </p>
  <p>
    {{ form.biddable.label }}<br />
    {{ form.biddable}}
  </p>
  <p>
    {{ form.image.label }}<br />
    {{ form.image}}
  </p>
  <p>{{ form.submit() }}</p>
</form>

{% if filename %}
	<div>
		<img src="{{ url_for('display_image', filename=filename) }}">
	</div>
{% endif %}